<h1>NBA STORE</h1>
<div class="buttonContainer">
    <a href="http://localhost:8080/products">STOCK DE CAMISETAS</a>
    <a href="http://localhost:8080/addProduct">AGREGAR PRODUCTO</a>
</div>
<link rel="stylesheet" href="css/inicio.css">